body {
    background-color: aquamarine;
}

main {
    background-color: antiquewhite;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.473);
}

h1 {
    text-align: center;
}

img.centro {
    display: block;
    margin: 0px auto;
}

p{
    text-align: justify;
    font-size: 16px;
}